body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.quiz-box {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #22c55e;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.opcao {
  display: block;
  margin: 10px;
  padding: 10px;
  background: #334155;
  cursor: pointer;
  border-radius: 5px;
}

.opcao:hover {
  background: #475569;
}

.info {
  display: flex;
  justify-content: space-around;
}

.hidden {
  display: none;
}

#resultadoFinal {
  margin-top: 20px;
  font-size: 22px;
  background: #111827;
  padding: 20px;
  border-radius: 10px;
}
